@charset "utf-8";
/* CSS Document */

body{
margin:0px;	
background:url(../img/bg.jpg);
background-size:cover;
background-attachment:fixed;
}

#conta{
width:800px;
min-height:400px;
margin:0 auto;
}

.menu{
cursor:pointer;
}

.menu:hover{
cursor:pointer;
opacity:0.9;	
}